extends layout

block content
	#login-page
		.container
			form.form-login(action="signup", method="POST")
				h2.form-login-heading sign up now
				if error
					.centered
						p= error
				.login-wrap
					input.form-control(name="username" type="text" placeholder="Please create username" autofocus)
					br
					input.form-control(name="password" type="password" placeholder="Please enter a password")
					button.btn.btn-theme.btn-block(type="submit")
						i.fa.fa-lock  CREATE ACCOUNT
					hr
					.login-social-link.centered
						p or you can sign in via your social network
						a.btn.btn-facebook(href="/auth/facebook" type="submit")<i class="fa fa-lg fa-facebook"></i> Facebook
						a.btn.btn-google(href="/auth/google" type="submit")<i class="fa fa-lg fa-google-plus"></i> Google
 
block scripts
	script(type="text/javascript" src="js/jquery.backstretch.min.js")
	script $.backstretch("img/login-bg.jpg", {speed: 500})
